.app {
	font-family: Roboto;
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--darkBlue);
	border-radius: 20px;
	padding: 10px;
	color: white;
	height: 100%;
}

.messages {
	margin-bottom: 10px;
}

.message {
	padding: 10px;
}

.message div:nth-child(3) {
	width: 100%;
}

.messageTexts {
	display: flex;
	flex-direction: row;
	gap: 2px;
	flex-wrap: wrap;
	margin-top: 3px;
}

.icon {
	height: 50px;
	width: 50px;
	/* background-color: red; */
	border-radius: 100%;
	margin-right: 10px;
	float: left;
}

.time {
	font-size: 10px;
	color: gray;
	padding: 5px 0 0 10px;
}

.username {
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.text {
	color: lightgray;
}

.app textarea {
	background-color: var(--blue);
	border-radius: 20px;
	resize: none;
	border: none;
	color: white;
	height: 20px;
	padding: 5px 15px 5px 15px;
	font-size: 16px;
	width: 680px;
	font-family: Roboto;
}

.app textarea:focus {
	outline: none;
}

#sendButton {
	float: right;
	font-size: 22px;
	width: 60px;
	height: 30px;
	transform: scale(-1, 1);
	cursor: pointer;
	text-align: center;
	transition: 0.5s;
	border-radius: 20px;
}

#sendButton:hover {
	background-color: var(--blue);
}
