.app {
	font-family: Roboto;
	max-width: 780px;
	background-color: var(--darkBlue);
	border-radius: 20px;
	padding: 10px;
	color: white;
	height: 90%;
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

}

.messages {
	margin-bottom: 10px;
	height: calc(100% - 40px);
	display: flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
}

.message {
	padding: 10px;
}

.message div:nth-child(3) {
	width: 100%;
}

.messageTexts {
	display: flex;
	flex-direction: row;
	gap: 2px;
	flex-wrap: wrap;
	margin-top: 3px;
}

.icon {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin-right: 10px;
	float: left;
}

.time {
	font-size: 10px;
	color: gray;
	padding: 5px 0 0 10px;
}

.username {
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.text {
	color: lightgray;
}

textarea {
	background-color: var(--blue);
	border-radius: 20px;
	resize: none;
	border: none;
	color: white;
	height: 20px;
	padding: 5px 15px 5px 15px;
	font-size: 16px;
	width: 680px;
	font-family: Roboto;
	transition: 0.5s;
	border: 2px solid var(--darkBlue);
}

textarea:focus {
	outline: none;
	border: 2px solid white;
}

#sendButton {
	background-color: var(--blue);
	float: right;
	font-size: 22px;
	width: 60px;
	height: 30px;
	transform: scale(-1, 1);
	cursor: pointer;
	text-align: center;
	transition: 0.5s;
	border-radius: 20px;
	border: 2px solid var(--darkBlue);
}

#sendButton:hover {
	background-color: var(--lightBlue);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: inherit;
}

::-webkit-scrollbar-thumb {
	background: var(--lightBlue);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--lightBlue);
}
